<model>
  <name>packing_station</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole.bsmr@gmail.com</email>
  </author>

  <description>
    Warehouse packing station with unconstructed boxes, envelopes, label maker, scanner, and bin.
    Reference: https://app.gazebosim.org/OpenRobotics/fuel/models/Packing_Station
  </description>
</model>