<?xml version="1.0"?>

<model>
  <name>cardboard_box</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
  </author>

  <description>
    A closed cardboard box with dimensions 0.5 m x 0.4 m x 0.3 m.
  </description>
</model>
