<model>
  <name>distribution_warehouse</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole.bsmr@gmail.com</email>
  </author>

  <description>
    Large distribution warehouse.
    Reference: https://app.gazebosim.org/OpenRobotics/models/Distribution_Warehouse
  </description>
</model>
