<?xml version="1.0"?>
<model>
  <name>std_cargo_container_40ft</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Juan Francisco Rascón Crespo</name>
    <email>juan.rascon@eurecat.org</email>
  </author>

  <description>
    A standard 40-foot cargo container is modeled, intended for ship or trailer transport. The outer dimensions of the
    container are 12.19 m (length) × 2.336 m (width) × 2.413 m (height), while the internal cargo space measures 12.01 m ×
    2.33 m × 2.38 m. The unloaded (tare) mass of the container is 3701 kg, and it is designed to carry a maximum payload
    of 26780 kg.
  </description>
</model>
