<model>
  <name>pallet_rack_section</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole.bsmr@gmail.com</email>
  </author>

  <description>
    Pallet rack section to be duplicated into rows. One end will be the regular "Pallet Rack" model.
    Reference: https://app.gazebosim.org/OpenRobotics/fuel/models/Pallet_Rack_Section
  </description>
</model>