<?xml version="1.0"?>
<model>
  <name>euro_pallet</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Juan Francisco Rascón Crespo</name>
    <email>juan.rascon@eurecat.org</email>
  </author>

  <description>
    A wooden euro pallet with dimensions 1.2m x 0.8m x 0.144m.
  </description>
</model>
